# Credenciales SMG Seguros
SMG_USER=tu_usuario
SMG_PASS=tu_clave

# Configuración del Productor
SMG_PRODUCER_CODE=6470

# Configuración de Descargas (Opcional, por defecto usa ./Facturas en APP)
# DOWNLOAD_PATH=./Facturas en APP
